<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h1 style="font-size: 5rem;" class="text-white text-center" data-aos="zoom-in-left" data-aos-easing="ease-out-cubic" data-aos-duration="500">
        <img src="../../../assets/name.png" height="200" width="800" alt="">
      </h1>
      <h6 class="text-white text-center justify-content-center p-3" data-aos="fade-in" data-aos-duration="1000" style="line-height: 30px;font-size: 18px;">We are BotZyme, a small but motivated company specializing in Augmented Reality, Virtual Reality, Mixed Reality,
      Internet of Things (IOT), Machine learning. We believe passionately in great product and excellent service, which is why
      we commit ourselves to giving you the best of both. If you’re looking for something new and innovative, you’re in the
      right place. We strive to be industrious and innovative, offering our customer something they want, putting their
      desires at the top of our priority list, so we hope you will enjoy our product as much as we enjoy making them available
      to you.</h6>
      <div class="row">
        <div class="col-md-6" data-aos="fade-in" data-aos-duration="500">
          <img class="text-center mt-5" src="../../../assets/ClipartKey_122369.png" width="300" height="200" alt="cloud-Computing"/>
        </div><br>
        <div class="col-md-6" data-aos="fade-in" data-aos-duration="500">
          <h3 class="text-white text-center"> Need Help in &nbsp;</h3>
          <h4 class="text-white text-center"> Augumented Reality &nbsp;</h4>
          <h4 class="text-white text-center"> Virtual Reality &nbsp;</h4>
          <h4 class="text-white text-center"> Mixed Reality &nbsp;</h4>
          <h4 class="text-white text-center"> IOT and Machine Learning &nbsp;</h4>
          <div class="float-right text-center">
            <h5><span class="text-danger text-uppercase">We're the Specialist &nbsp;</span></h5>
            <h5 class="text-white text-uppercase">we do all of these &nbsp;</h5>
            <h5 class="text-white">If you need any assistance please feel free to contact us.</h5>
          </div>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-9 offset-md-2">
      <div class="card" data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="400">
        <div class="card-body">
          <h5 class="card-title">AR (Augmented Reality)</h5>
          <img class="img-thumbnail float-left mr-1" src="../../../assets/AR.png" height="100" width="100" alt="Augument Reality">
          <p class="card-text text-wrap mt-2">It's a technology that superimposes a computer-generated image on a user's view of the real world, thus providing a composite
          view.</p><br>
          <h6># Advantage: </h6>
          <ul>
            <li>AR increases engagement and interaction and provides a richer user experience.</li>
            <li>Research has shown that AR increases the perceived value of products and brands.</li>
          </ul>
        </div>
      </div>
    </div>
  </div><br><br>
    <div class="row">
      <div class="col-md-9 offset-md-1">
        <div class="card" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="400">
          <div class="card-body">
            <h5 class="card-title">VR (Virtual Reality)</h5>
            <img class="img-thumbnail float-left mr-1" src="../../../assets/VR.png" height="150" width="100" alt="Augument Reality">
            <p class="card-text text-wrap mt-2">Virtual Reality (VR) is the use of computer technology to create a simulated environment. Unlike traditional user
            interfaces, VR places the user inside an experience. Instead of viewing a screen in front of them, users are immersed
            and able to interact with 3D worlds.</p>
            <h6># Advantage: </h6>
            <ul>
              <li>Realistic scenarios.</li>
              <li>Simplifies complex problems/situations.</li>
              <li>Innovative and enjoyable.</li>
            </ul>
          </div>
        </div>
      </div>
    </div><br><br>
<div class="row">
  <div class="col-md-9 offset-md-2">
    <div class="card" data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="400">
      <div class="card-body">
        <h5 class="card-title">MR (Mixed Reality)</h5>
        <img class="img-thumbnail float-left mr-1" src="../../../assets/MR.png" height="100" width="100"
          alt="Augument Reality">
        <p class="card-text text-wrap mt-2">Machine learning is an application of artificial intelligence (AI) that
          provides systems the ability to automatically
          learn and improve from experience without being explicitly programmed. Machine learning focuses on the
          development of
          computer programs that can access data and use it learn for themselves.</p><br>
        <h6># Advantage: </h6>
        <ul>
          <li>One of the biggest advantages of machine learning algorithms is their ability to improve over time.</li>
          <li>Machine learning technology typically improves efficiency and accuracy thanks to the ever-increasing
            amounts of data that are processed.</li>
        </ul>
      </div>
    </div>
  </div>
</div><br><br>

    <div class="row">
      <div class="col-md-9 offset-md-1">
        <div class="card" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="400">
          <div class="card-body">
            <h5 class="card-title">ML (Machine Learning)</h5>
            <img class="img-thumbnail float-left mr-1" src="../../../assets/AI.png" height="80" width="100"
              alt="Augument Reality">
            <p class="card-text text-wrap mt-2">Mixed reality (MR) is the merging of real and virtual worlds to produce new
              environments and visualizations, where
              physical and digital objects co-exist and interact in real time.</p><br>
            <h6># Advantage: </h6>
            <ul>
              <li>Speed up the quality control process.</li>
              <li>Minimise the skilled labour shortage.</li>
              <li>Stay competitive with mixed reality.</li>
            </ul>
          </div>
        </div>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-md-9 offset-md-2">
        <div class="card" data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="400">
          <div class="card-body">
            <h5 class="card-title">IoT (Internet of Things)</h5>
            <img class="img-thumbnail float-left mr-1" src="../../../assets/IoT.png" height="150" width="100"
              alt="Augument Reality">
            <p class="card-text text-wrap mt-2">The internet of things, or IoT, is a system of interrelated computing devices, mechanical and digital machines, objects,
            animals or people that are provided with unique identifiers (UIDs) and the ability to transfer data over a network
            without requiring human-to-human or human-to-computer interaction.</p>
            <h6># Advantage: </h6>
            <ul>
              <li>Improved monitoring.</li>
              <li>Fine tune services and products.</li>
              <li>Improve control of operation processes.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <br><br><div class="row">
    <div class="col-md-3 offset-md-1 col-xs-10 offset-xs-1">
      <div class="card" data-aos="fade-in" data-aos-duration="1000">
        <div class="card-body">
          <p class="card-text text-center"><i class="far fa-hospital fa-4x"></i></p><br>
          <h5 class="card-title text-center">Healthcare</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 mx-md-5 col-xs-10 offset-xs-1 mt-xs-2">
      <div class="card mt-xs-2" data-aos="fade-in" data-aos-duration="1000">
        <div class="card-body">
          <p class="card-text text-center"><i class="fas fa-home fa-4x"></i></p><br>
          <h5 class="card-title text-center">Real Estate</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-10 offset-xs-1 mt-xs-2">
      <div class="card mt-xs-2" data-aos="fade-in" data-aos-duration="1000">
        <div class="card-body">
          <p class="card-text text-center"><i class="fas fa-book-reader fa-4x"></i></p><br>
          <h5 class="card-title text-center">Education</h5>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-3 offset-md-1 col-xs-10 offset-xs-1">
      <div class="card" data-aos="fade-in" data-aos-duration="1000">
        <div class="card-body">
          <p class="card-text text-center"><i class="fas fa-industry fa-4x"></i></p><br>
          <h5 class="card-title text-center">Manufacturing</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-10 mx-md-5 offset-xs-1">
      <div class="card mt-xs-2" data-aos="fade-in" data-aos-duration="1000">
        <div class="card-body">
          <p class="card-text text-center"><i class="fas fa-piggy-bank fa-4x"></i></p><br>
          <h5 class="card-title text-center">Finance</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-10 offset-xs-1">
      <div class="card mt-xs-2" data-aos="fade-in" data-aos-duration="1000">
        <div class="card-body">
          <p class="card-text text-center"><i class="fas fa-chalkboard-teacher fa-4x"></i></p><br>
          <h5 class="card-title text-center">Technical Training</h5>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="row justify-content-center">
    <div class="col-md-3 mr-md-3 col-xs-10 offset-xs-1">
      <div class="card" data-aos="fade-in" data-aos-duration="1000">
        <div class="card-body">
          <p class="card-text text-center"><i class="fas fa-hand-holding-usd fa-4x"></i></p><br>
          <h5 class="card-title text-center">Sales</h5>
        </div>
      </div>
    </div>
  </div>
</div>
