body{
    width:100%;
    margin:auto;
}
nav{
  background-color: #f7a6b3;
}
navbar{
    padding: 0px!important;
     -webkit-box-shadow: 4px 9px 25px -6px #4d4d4d9c;
-moz-box-shadow: 4px 9px 25px -6px #4d4d4d9c;
box-shadow: 4px 9px 25px -6px #4d4d4d9c;
}
@keyframes mymove {
    from {
      left:  100px;
         height: 0px;
         opacity: 0;
         border-bottom:0px;
    }
    to {
        height: auto;

    }
}

.navbar-nav a.nav-link{
    font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
    padding: 0px !important;
}
ul.navbar-nav li.nav-item{
  margin: 0 20px;
}
ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}
.navbar-nav .nav-item:hover:after {
    width: 100%;
    background:#9671fd;
}

