<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 mt-5 offset-md-1">
      <div class="card" data-aos="fade-right">
        <img class="card-img-top p-2" height="200" src="../../../assets/AR.png" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Augmented Reality</h5>
          <p class="card-text text-center">Augmented reality (AR) adds digital elements to a live view often by using the camera on a smartphone.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-5 mx-md-5">
      <div class="card" data-aos="fade-in">
        <img class="card-img-top p-2" height="200" src="../../../assets/VR.png" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Virtual Reality</h5>
          <p class="card-text text-center">Virtual reality (VR) implies a complete immersion experience that shuts out the physical world.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-5">
      <div class="card" data-aos="fade-left">
        <img class="card-img-top p-2" height="200" src="../../../assets/MR.png" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Mixed Reality</h5>
          <p class="card-text text-center">MR is the merging of real and virtual worlds to produce new environments.</p>
        </div>
      </div>
    </div>

  </div>

  <br><br>

  <div class="row">

    <div class="col-md-3 mt-5 offset-md-3">
      <div class="card" data-aos="fade-right">
        <img class="card-img-top p-2" height="200" src="../../../assets/IoT.png" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Internet of Things</h5>
          <p class="card-text text-center">The internet of things, or IoT, is a system of interrelated computing devices, mechanical and digital machines.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mx-md-5 mt-5">
      <div class="card" data-aos="fade-left">
        <img class="card-img-top p-2" height="200" src="../../../assets/AI.png" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Machine Learning</h5>
          <p class="card-text text-center">ML is an application of AI that provides systems the
            ability to automatically
            learn from experience without being explicitly programmed.</p>
        </div>
      </div>
    </div>

  </div>

</div><br><br>
<app-footer></app-footer>
